{% extends "base.html" %}
{% load static %}

{% block title %}Node: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2>{{ object.name }}</h2>
            <h3>Sensors</h3>
            <div class="list-group">
                {% for sensor in sensor_list %}
                    <a href="{% url 'sensors:detail' sensor.name %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ sensor.name }}</h4>
                    </a>
                {% endfor %}
            <h3>Actuators</h3>
            <div class="list-group">
                {% for actuator in actuator_list %}
                    <a href="{% url 'actuators:detail' actuator.name %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ actuator.name }}</h4>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
  
</div>
{% endblock content %}

