{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Minions{% endblock %}

{% block content %}

<div class="container">
    <h2>Minions</h2>

    <div>
        <a href="{% url 'minions:create' %}">Create a new Minion</a>
    </div>

    <div class="list-group">
        {% for minion in minion_list %}
          <a href="{% url 'minions:detail' minion.name %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ minion.name }}</h4>
          </a>
        {% endfor %}

    </div>

{% endblock content %}
